@import '../shared/colors';
@import '../shared/dimesions';


.breadcrumbs {
    height: calc($header_height - $navbar_height);
    margin: 0 auto;
    max-width: $content_max_width;

    &__list {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: flex-start;
    }

    &__item {
        color: $black;

        &--current {
            font-weight: bold;
        }

        &--link {
            & > a {
                color: inherit;
                text-decoration: none;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__sep {
        margin: 0 $margin-md;
    }
}