@import '../shared/colors';
@import '../shared/dimesions';
@import '../shared/mixins';

.button {
    background-color: $purple_dark;
    border: 0;
    color: $white;
    margin: 0 $margin-sm;
    padding: $padding-md $padding-lg;
    transition: all .5s ease;

    &:hover {
        background-color: $gray_dark;
        cursor: pointer;
    }

    &__rounded {
        border-radius: 36px;
    }

    &__large {
        padding: calc(1.5 * $padding-md) calc(2 * $padding-xlg);
    }

    &__small {
        padding: calc(0.5 * $padding-md) calc(0.5 * $padding-lg);
    }

    &__alt {
        background-color: $gray_dark;

        &:hover {
            background-color: $purple_dark;
            cursor: pointer;
        }
    }
}

.button_group {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    & > * {
        flex: 1;
        max-width: 120px;
    }
}