@import '../shared/colors';
@import '../shared/dimesions';

.combo {
    $size: 200px;

    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    margin: $margin-lg 0;

    & > div {
        margin: 0 $margin-sm;
        width: $size;
    }

    &__label {
        padding: $padding-md 0;
        text-align: right;
    }

    &__trigger {
        background-color: $purple;
        padding: $padding-md $padding-lg;

        &:hover {
            background-color: $purple_dark;
            color: $white;
            cursor: pointer;
        }
    }

    &__list {
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: opacity .5s ease-in-out;

        &.visible {
            height: auto;
            opacity: 1;
        }
    }
    

    .list__header {
        background-color: $purple;
        padding: $padding-md $padding-lg;

        &:hover {
            background-color: $purple_dark;
            color: $white;
            cursor: pointer;
        }
    }

    .list__body {
        max-height: $size;
        overflow-y: scroll;
        position: relative;
        z-index: 0;
    }

    .list__option {
        margin: $margin-sm 0;
        padding: $padding-sm $padding-md;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            background-color: lighten($color: $purple, $amount: 15);
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transition: all .5s ease-in-out;
            width: $padding-sm;
            z-index: -1;
        }

        &:hover {
            cursor: pointer;

            &::before {                
                width: 100%;
            }
        }
    }
}