@import '../shared/colors';
@import '../shared/dimesions';

.drop-zone {
    align-items: center;
    border: 3px dashed $purple-dark;
    border-radius: 8px;
    color: $purple;
    cursor: pointer;
    display: flex;
    font-size: 1.6rem;
    height: 300px;
    justify-content: center;
    margin: $margin-lg auto;
    width: 400px;
    padding: $padding-lg;
    text-align: center;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__thumb {
    background-color: $gray-light;
    background-size: cover;
    border-radius: 8px;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    background: rgba($purple-dark, .75);
    bottom: 0;
    color: $white;
    font-size: 14px;
    left: 0;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.drop-zone__input {
    display: none;
}