@import '../shared/colors';
@import '../shared/dimesions';

.dropdown {
    position: relative;
    max-width: 200px;
    width: 100%;

    &__trigger {
        background-color: $purple;
        border: none;
        border-radius: 4px;
        color: $white;
        cursor: pointer;
        padding: $padding-sm $padding-md;
        width: 100%;
    }

    &__menu {
        background-color: $white;
        box-shadow: 0 2px 5px 0 rgba($black, .2);
        display: flex;
        flex-direction: column;
        gap: 4px;
        left: 0;
        opacity: 0;
        padding: $padding-md;
        pointer-events: none;
        position: absolute;
        top: calc(100% + .5rem);
        transition: all .5s ease-in-out;
        transform: translateY(-10px);
        width: 100%;
        z-index: 1;

        &.active {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0);
        }
    }

    &__item {        
        &:hover {
            background-color: $purple_light;
            cursor: pointer;
        }
    }
}