@import '../shared/colors';
@import '../shared/dimesions';

.faq__list {
    max-height: 450px;
    overflow-y: scroll;
}

.faq {
    $size: 56px;
    padding-right: calc(2 * $padding-xlg);

    .question {
        color: $purple;
        font-size: 1.1rem;
        margin: calc($size / 2) 0;
        padding-left: $size;
        position: relative;

        &::before {
            content: 'Q';
            align-items: baseline;
            background-color: transparent;
            color: $purple;
            display: flex;
            font-size: $size;
            height: $size;
            justify-content: center;
            left: 0;
            position: absolute;
            top: calc(-1 * $size / 2);
            width: $size;
        }
    }

    .answer {
        border-bottom: 1px dashed $purple;
        margin: calc($size / 2) 0;
        padding-bottom: $padding-xlg;
        padding-left: $size;
        position: relative;

        &::before {
            content: 'A';
            align-items: center;
            background-color: transparent;
            color: $purple_light;
            display: flex;
            font-size: $size;
            height: $size;
            justify-content: center;
            left: 0;
            position: absolute;
            top: 0;
            width: $size;
        }
    }
}