@import '../shared/colors';
@import '../shared/dimesions';

.file-display {
    background: transparent;
    border-bottom: 2px solid $purple;
    height: 250px;
    margin: $margin-md 0;
    padding: 0 $padding-md;
    overflow-y: scroll;
}