@import '../shared/colors';
@import '../shared/dimesions';

.navbar {
    background-color: $white;
    box-shadow: 0px 3px 6px #00000029;
    height: $navbar_height;
    width: 100%;

    &__content {
        align-items: center;
        display: flex;
        height: 100%;
        margin: 0 auto;
        max-width: $content_max_width;
        width: 100%;
    }

    &__title {
        border-left: 1px solid $gray_dark;
        margin-left: $margin-lg;
        padding-left: $margin-lg;
    }

    &__links {
        align-items: center;
        display: flex;
        flex: 1;
        height: 100%;
        justify-content: flex-start;
        margin-left: $margin-lg;

        .link {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            transition: all .2s ease;
            width: 80px;

            &:hover {
                background-color: $purple_light;
                border-bottom: 2px solid darken($purple_light, 30);
                cursor: pointer;
            }

            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}