@import '../shared/colors';
@import '../shared/dimesions';
@import '../shared/mixins';

.popup {
    background-color: rgba($black, .5);
    display: none;
    left: 0;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100vw;

    &__content {
        @include column;
        background-color: $white;
        box-shadow: 2px 2px 6px $gray_dark;
        height: $popup_height;
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: $popup_width;
    }

    &__content > * {
        padding: $padding-md $padding-lg;
        width: 100%;
    }

    &__header {
        @include row;
        background-color: $purple_dark;
        color: $white;
        height: calc(.15 * $popup_height);
    }

    &__body {
        flex: 1;
    }

    &__footer {
        @include row;
        height: calc(.15 * $popup_height);
        justify-content: center;
    }
}

.popup.show {
    display: block;

    & > .popup__content {
        opacity: 1;
    }
}