@import '../shared/colors';
@import '../shared/dimesions';

.spinner {
    $size: 175px;

    align-items: center;
    color: $purple-dark;
    display: flex;
    font-size: 1.1rem;
    font-weight: 200;
    height: $size;
    justify-content: center;
    position: relative;
    width: $size;

    &:before {
        animation: spinner 1.5s linear infinite;
        border-radius: 50%;
        border-top: 3px solid $purple-dark;
        border-right: 3px solid transparent;
        content: '';
        height: $size;
        position: absolute;
        width: $size;
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}