@import '../shared/colors';
@import '../shared/dimesions';
@import '../shared/mixins';

.table {
    width: 100%;

    &__header {
        @include column;
        border-bottom: 2px solid $purple_dark;

        & > .row {
            @include row;
        }

        .column {
            flex: 1;
            font-size: 1.1rem;
            font-weight: bold;
            padding: $padding-md $padding-sm;
        }
    }

    &__body {
        @include column;

        & > .row {
            @include row;

            &:nth-of-type(odd) {
                background-color: $purple_light;
            }
        }

        .column {
            flex: 1;
            padding: $padding-md $padding-sm;

            &.link {
                color: $purple-dark;
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}