@import '../shared/colors';

@mixin tag($color) {
    @include row;
    justify-content: space-between;
    
    background-color: $white;
    border: 2px solid $color;
    border-radius: 16px;
    font-size: .9rem;    
    margin: 0 $margin-sm;
    padding: $padding-xs $padding-sm $padding-xs $padding-md;

    &:hover {
        cursor: pointer;
    }
}

@mixin icon($color) {
    $size: 16px;

    .label {
        margin-right: $margin-sm;
    }

    .icon {
        align-items: center;
        background-color: $color;
        border-radius: 50%;
        color: $white;
        display: flex;
        height: $size;
        justify-content: center;
        width: $size;
    }
}

.tag__purple {
    @include tag($purple_dark);
}

.tag__gray {
    @include tag($gray_dark);
}

.icon_tag__purple {
    @include tag($purple_dark);
    @include icon($purple_dark);
}

.icon_tag__gray {
    @include tag($gray_dark);
    @include icon($gray_dark);
}