@import '../shared/dimesions';

#login-page {

    & > section {
        margin: 0 auto;
    }

    .heading {
        margin-bottom: calc(2 * $padding-xlg);
        width: 60%;
    }

    .highlight {
        margin: $padding-xlg auto;
        width: 60%;
    }

    .content {
        width: 50%;
    }
}