@import '../shared/dimesions';
@import '../shared/mixins';

#project-list-page {
    @include column;

    .heading {
        @include row;
        margin-bottom: calc(2 * $padding-xlg);
    
        & > div:nth-of-type(1) {
            flex: 2;
        }
    
        & > div:nth-of-type(2) {
            display: flex;
            flex: 1;
            justify-content: center;
        }
    }
}