@import '../shared/colors';
@import '../shared/dimesions';
@import '../shared/mixins';

#query-filters-page {
    .heading {
        @include row;
        margin-bottom: calc(2 * $padding-xlg);

        &>div:nth-of-type(1) {
            flex: 2;
        }

        &>div:nth-of-type(2) {
            display: flex;
            flex: 1;
            justify-content: flex-end;
        }
    }

    .content {
        margin: $margin-lg 0;

        .section__header {

            .title {
                font-size: 1.1rem;
            }

            .help {
                color: $gray_dark;
            }
        }

        .section__body {
            background-color: $gray;
            padding: $padding-lg;
        }
    }

    .keywords {
        @include row;
    }
}