$content_max_width: 1100px;

$header_height: 110px;
$footer_height: 60px;
$navbar_height: 60px;
$popup_height: 300px;
$popup_width: 400px;

$padding-xs: 2px;
$padding-sm: 4px;
$padding-md: 8px;
$padding-lg: 16px;
$padding-xlg: 24px;

$margin-xs: 2px;
$margin-sm: 4px;
$margin-md: 8px;
$margin-lg: 16px;
$margin-xlg: 24px;