@import './colors';
@import './dimesions';
@import './mixins';

input, 
select, 
textarea, 
button {
    font-family:inherit;
    font-size: inherit;
}

.control {
    margin: $margin-lg 0;

    .label {
        display: block;
        font-size: .8rem;
    }

    .input {
        background-color: $gray_light;
        border: 0;
        border-bottom: 1px solid $purple;
        height: 36px;
        line-height: 36px;
        outline: none;
        padding: 0 $padding-sm;
        width: 100%;
    }

    .textarea {
        background-color: $gray_light;
        border: 0;
        border-bottom: 1px solid $purple;
        line-height: 36px;
        outline: none;
        padding: 0 $padding-sm;
        resize: none;
        width: 100%;
    }

    .tag-input {
        align-items: center;
        background-color: $gray_light;
        border: 0;
        border-bottom: 1px solid $purple;
        display: flex;
        justify-content: flex-start;
        min-height: 36px;
        width: 100%;
    }
}