@import '../shared/colors';
@import '../shared/dimesions';

.layout {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: $gray;
    border-bottom: 4px solid #5236AA;
    height: $header_height;
}

.main {
    background-color: $white;
    flex: 1;
}

.page {
    margin: 0 auto;
    max-width: $content_max_width;
    padding: $padding-xlg 0;
    width: 100%;
}

.footer {
    align-items: center;
    background-color: $gray;
    display: flex;
    height: $footer_height;
    justify-content: center;
}