@import './colors';
@import './dimesions';

.page__title {
    font-size: 1.6rem;
    margin-bottom: $margin-lg;
}

.page__description {
    font-style: italic;
    margin-bottom: $margin-lg;
}

.page__highlight {
    color: $purple;
    font-size: 1.2rem;
}