<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sammy.js/0.7.2/sammy.min.js" integrity="sha512-c0j0G78ga6fKDwfaMu3lvxpg0CY0C/UCdtPCkF5xRmgE5p5l0qg5TH+amN1PWNVKnGqS4YJZZeUc5abtPPWlIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script  type="module" src="./ts/index.ts"></script>
    <link rel="stylesheet" href="./scss/index.scss">
</head>

<!-- App Layout -->
<body class="layout">
    <header class="header">
        <div class="navbar">
            <div class="navbar__content">
                <div class="navbar__logo">
                    <img src="./assets/logo.png" alt="CGI Logo">
                </div>

                <div class="navbar__title">
                    GPEC Candidate Ranking
                </div>

                <div class="navbar__links">
                    <div class="link">
                        <a href="/#/projects">Projects</a>
                    </div>

                    <div class="link">
                        <a href="/#/faq">FAQ</a>
                    </div>

                    <div class="link">Contact</div>
                </div>  
            </div>
        </div>

        <div class="breadcrumbs" id="breadcrumbs">
            
        </div>
    </header>

    <main id="main" class="main"></main>

    <footer class="footer">
        &copy; 2022 CGI Inc.
    </footer>
</body>
</html>

<!-- Login Page -->
<template id="login-tmpl">
    <div id="login-page" class="page">
        <section class="heading">
            <div class="page__title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, voluptas.</div>

            <div class="page__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio fuga veniam voluptatibus, minus quaerat ipsam non numquam dignissimos quo. Ratione?
            </div>
        </section>

        <section class="highlight">
            <div class="page__highlight text-center">
                Please log in
            </div>
        </section>

        <section class="content">
            <form action="/login" method="post" class="form">

                <div class="control">
                    <label for="email" class="label">Your CGI Email Address</label>
                    <input
                        name="email" 
                        type="text"
                        class="input" />
                </div>

                <div class="control">
                    <label for="password" class="label">Password</label>
                    <input 
                        name="password"
                        type="password"
                        class="input" />
                </div>

                <div class="text-center">
                    <button type="submit" class="button button__large button__rounded">
                        Log in
                    </button>
                </div>
            </form>
        </section>
    </div>
</template>

<!-- Project List Page -->
<template id="project-list-tmpl">
    <div id="project-list-page" class="page">
        <section class="heading">
            <div>
                <div class="page__title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, voluptas.</div>

                <div class="page__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio fuga veniam voluptatibus, minus quaerat ipsam non numquam dignissimos quo. Ratione?
                </div>
            </div>

            <div>
                <button 
                    onclick="createNewProject(event)"
                    class="button button__large">Create new project</button>
            </div>
        </section>

        <section class="content">
            <div class="table">
                <div class="table__header">
                    <div class="row">
                        <div class="column">Project name</div>
                        <div class="column">Description</div>
                        <div class="column">Created by</div>
                        <div class="column">Date last edited</div>
                        <div class="column text-center">Actions</div>
                    </div>
                </div>
    
                <div class="table__body">
                    {{#each projects}}        
                        <div class="row">
                            {{#with . as | project | }}
                                <div 
                                    data-projectId="{{ project.id }}"
                                    onclick="viewProject(event)"
                                    class="column link">{{ project.name }}</div>

                                <div class="column">{{ project.description }}</div>

                                <div class="column">{{ project.owner.firstName }} {{ project.owner.lastName }}</div>

                                <div class="column">{{ project.modifiedAt }}</div>

                                <div class="column">
                                    <div class="dropdown">
                                        <button class="dropdown__trigger">Actions</button>
                                        <div class="dropdown__menu">
                                            <div 
                                                onclick="openPopUp()"
                                                class="dropdown__item">Delete</div>
                                            <div 
                                                data-projectId="{{ project.id }}"
                                                onclick="editProject(event)"
                                                class="dropdown__item">Edit</div>
                                            <div
                                                class="dropdown__item">Share</div>
                                        </div>
                                    </div>
                                </div>
                            {{/with}}
                        </div>        
                    {{/each}}
                </div>
            </div>
        </section>
    </div>

    <div class="popup" id="delete-project-popup">
        <div class="popup__content">
            <div class="popup__header">
                Header
            </div>
    
            <div class="popup__body">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, quasi itaque! Unde commodi pariatur adipisci quasi asperiores. Possimus corrupti porro, quia voluptatum cumque cupiditate architecto repellat aperiam reiciendis ipsa magnam?
            </div>
    
            <div class="popup__footer">
                <div class="button_group">
                    <button
                    onclick="closePopUp()"
                    class="button button__rounded button__alt">Cancel</button>
                
                    <button
                        onclick="closePopUp()"
                        class="button button__rounded">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.querySelectorAll('.dropdown__trigger').forEach(triggerElement => {
            const menuElement = triggerElement.nextElementSibling

            triggerElement.addEventListener('click', (event) => {
                menuElement.classList.toggle('active')
            })
        })

        function createNewProject(event) {
            window.location.href = '/#/project/new'
        }

        function viewProject(event) {
            const target = $(event.target)
            const projectId = target.data("projectid")
            window.location.href = `/#/project?id=${projectId}`
        }
        
        function editProject(event) {
            const target = $(event.target)
            const projectId = target.data("projectid")
            window.location.href = `/#/project/edit?id=${projectId}`
        }

        function openPopUp() {
            $('#delete-project-popup').toggleClass('show')
        }

        function closePopUp() {
            $('#delete-project-popup').toggleClass('show')
        }
    </script>
</template>

<!-- Project Details Page -->
<template id="project-details-tmpl">
    <div id="project-details-page" class="page">
        <section class="heading">
            <div class="page__title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, voluptas.</div>

            <div class="page__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio fuga veniam voluptatibus, minus quaerat ipsam non numquam dignissimos quo. Ratione?
            </div>
        </section>

        <section class="content">
            <div>
                <div class="control">
                    <label class="label">Project name</label>
                    <div class="input">{{ project.name }}</div>
                </div>

                <div class="control">
                    <label class="label">Description</label>                    
                    <div class="textarea">{{ project.description }}</div>
                </div>

                <div class="control">
                    <label for="tags" class="label">Tags</label>

                    <div class="tag-input">
                        {{#each project.labels}}
                            <div class="icon_tag__gray">
                                <span class="label">{{.}}</span>
                                <span class="icon">&check;</span>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button 
                    data-projectId="{{ project.id }}"
                    onclick="editProject(event)"
                    type="submit" 
                    class="button button__large button__rounded">Edit</button>
            </div>
        </section>
    </div>

    <script>
        function editProject(event) {
            const target = $(event.target)
            const projectId = target.data("projectid")
            window.location.href = `/#/project/edit?id=${projectId}`
        }
    </script>
</template>

<!-- Project Form Page -->
<template id="project-form-tmpl">
    <div id="project-form-page" class="page">
        <section class="heading">
            <div class="page__title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, voluptas.</div>

            <div class="page__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio fuga veniam voluptatibus, minus quaerat ipsam non numquam dignissimos quo. Ratione?
            </div>
        </section>

        <section class="content">
            <form action="/project" method="post" class="form">

                {{#if project}}
                    <input
                        name="id" 
                        type="text"
                        value="{{ project.id }}"
                        hidden />
                {{/if}}

                <div class="control">
                    <label for="name" class="label">Project name</label>

                    {{#unless project}}
                        <input
                            name="name" 
                            type="text"
                            class="input" />
                    {{/unless}}

                    {{#if project}}
                        <input
                            name="name" 
                            type="text"
                            class="input"
                            value="{{ project.name }}" />
                    {{/if}}
                </div>

                <div class="control">
                    <label for="description" class="label">Description</label>

                    {{#unless project}}
                        <textarea 
                            name="description" 
                            rows="4"
                            class="textarea"></textarea>
                    {{/unless}}

                    {{#if project}}
                        <textarea 
                            name="description" 
                            rows="4"
                            class="textarea">{{ project.description }}</textarea>
                    {{/if}}
                </div>

                <div class="control">
                    <label for="tags" class="label">Tags</label>

                    <div class="tag-input">
                        {{#if project}}
                            {{#each project.labels}}
                                <div class="icon_tag__purple">
                                    <span class="label">{{.}}</span>
                                    <span class="icon" onclick="removeTag(event)">&#10005;</span>
                                </div>
                            {{/each}}
                        {{/if}}

                        <div class="icon_tag__gray" onclick="showNewTagInput(event)">
                            <span class="label">Add tag...</span>
                            <span class="icon">&check;</span>
                        </div>
                    </div>

                    <input 
                        hidden
                        onblur="hideNewTagInput(event)"
                        name="newTag"
                        type="text"
                        class="input" />
                </div>

                <div class="text-center">
                    <button type="submit" class="button button__large button__rounded">
                        {{#if project}}Save{{/if}}
                        {{#unless project}}Create{{/unless}}                        
                    </button>
                </div>
            </form>
        </section>
    </div>

    <script>
        function removeTag(event) {
            const target = $(event.target).parent()
            target.remove()
        }

        function showNewTagInput(event) {
            const target = $('.tag-input')
            target.hide()

            const input = target.siblings('input')
            input.show()
            input.focus()
        }

        function hideNewTagInput(event) {
            const target = $(event.target)
            target.hide()

            target.siblings('.tag-input').show()
        }
    </script>
</template>

<!-- Job Description File Upload -->
<template id="jobdesc-upload-tmpl">
    <div id="jobdesc-upload-page" class="page">
        <section class="heading">
            <div class="page__title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, voluptas.</div>

            <div class="page__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio fuga veniam voluptatibus, minus quaerat ipsam non numquam dignissimos quo. Ratione?
            </div>
        </section>

        <section class="content">
            <form>
                <div class="drop-zone">
                    <span class="drop-zone__prompt">Drop file here or click to upload</span>                
                    <input type="file" name="jobDesc" class="drop-zone__input" />
                </div>

                <div class="button_group">
                    <button
                        type="button"
                        onclick="resetForm(event)"
                        class="button button__rounded button__alt">Cancel</button>
                
                    <button
                        type="button"
                        onclick="uploadFile(event)"
                        class="button button__rounded">Upload</button>
                </div>
            </form>            
        </section>
    </div>

    <script>
        document.querySelectorAll('.drop-zone__input').forEach(inputElement => {
            const dropZoneElement = inputElement.closest('.drop-zone');
            
            dropZoneElement.addEventListener('click', (e) => {
                inputElement.click()
            })
            
            inputElement.addEventListener('change', (e) => {
                if (inputElement.files.length) {
                    updateThumbnail(dropZoneElement, inputElement.files[0]);
                }
            })
            
            dropZoneElement.addEventListener('dragover', (e) => {
                e.preventDefault();
                dropZoneElement.classList.add('drop-zone--over')
            })
            
            dropZoneElement.addEventListener('dragleave', (e) => {
                dropZoneElement.classList.remove('drop-zone--over')
            })
            
            dropZoneElement.addEventListener('dragend', (e) => {
                dropZoneElement.classList.remove('drop-zone--over')
            })
            
            dropZoneElement.addEventListener('drop', (e) => {
                e.preventDefault();
                
                if (e.dataTransfer.files.length != 0) {
                    inputElement.files = e.dataTransfer.files;
                    updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
                }
                
                dropZoneElement.classList.remove('drop-zone--over');
            })
        })

        function updateThumbnail(dropZoneElement, file) {
            let thumbnailElement = dropZoneElement.querySelector('.drop-zone__thumb');
            
            if (dropZoneElement.querySelector('.drop-zone__prompt')) {
                dropZoneElement.querySelector('.drop-zone__prompt').remove()
            }
            
            if (!thumbnailElement) {
                thumbnailElement = document.createElement('div')
                thumbnailElement.classList.add('drop-zone__thumb')
                dropZoneElement.appendChild(thumbnailElement)
            }
            
            thumbnailElement.dataset.label = file.name
            // thumbnailElement.style.backgroundImage = "url('https://www.iconsdb.com/icons/preview/color/CCCCCC/text-file-5-xxl.png')"
        }

        function resetForm(event) {
            const form = event.target.closest('form')
            
            let input = null
            for (control of form.elements) {
                if (control instanceof HTMLInputElement) {
                    input = control
                }
            }

            form.reset()
        }

        function uploadFile(event) {
            window.location.href = '/#/job-description/display'
        }
    </script>
</template>

<!-- Query Filters -->
<template id="query-filters-tmpl">
    <div id="query-filters-page" class="page">
        <section class="heading">
            <div>
                <div class="page__title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, voluptas.</div>

                <div class="page__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio fuga veniam voluptatibus, minus quaerat ipsam non numquam dignissimos quo. Ratione?
                </div>
            </div>

            <div>
                <button 
                    class="button button__large">Save</button>
            </div>
        </section>

        <section class="content">
            <div class="section__header">
                <span class="title">Job Post</span>
                <span class="help"></span>
            </div>

            <div class="section__body">
                <div class="file-display">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam debitis 
                    atque suscipit consectetur eligendi excepturi, ex tempora et autem! 
                    Numquam quam modi similique repudiandae dicta nobis. Cupiditate voluptate 
                    ullam eveniet, a est veniam dolores nihil mollitia cum ratione molestiae 
                    numquam nobis nemo vero deserunt ipsum reprehenderit nesciunt possimus 
                    quibusdam. Debitis laudantium obcaecati repudiandae sed earum optio iste, 
                    similique facere aperiam expedita! Nostrum voluptas porro similique 
                    exercitationem, fuga voluptate vel quibusdam incidunt nemo soluta recusandae 
                    maxime aut in veritatis sequi ea. Molestias dolorum quae ab ratione quas 
                    id laudantium. Voluptatum voluptatem neque id, numquam eos nisi quia 
                    laboriosam asperiores natus excepturi molestiae perferendis, cumque 
                    praesentium placeat? Ut, eos repellendus? Vitae, culpa accusamus ex sed 
                    recusandae at debitis, sint voluptatibus eius neque, sapiente non sunt 
                    porro. Eos, accusantium hic incidunt velit ad corrupti amet libero, aliquam 
                    aspernatur quos quam soluta earum assumenda mollitia iure rem ipsa eius 
                    iusto adipisci optio ex rerum voluptates! Accusantium blanditiis error 
                    repellat minus omnis reprehenderit eligendi, cupiditate assumenda minima, 
                    voluptas voluptatum veniam deserunt neque nihil excepturi consequatur 
                    aliquam nobis? Excepturi alias molestias magnam nam voluptatum fugiat? 
                    Eaque quia asperiores tempore rem eligendi vel, minus ab nemo quis animi 
                    aliquam recusandae similique odit qui. Officiis, voluptatem nulla. Rerum.
                </div>

                <div>
                    <div>
                        <button
                            onclick="extractKeywords(event)" 
                            class="button button__rounded">Extract Keywords</button>
    
                        <button
                            onclick="uploadJobDescription(event)"
                            class="button button__alt button__rounded">Upload New File</button>
                    </div>
                </div>
            </div>
        </section>

        {{#if showQueryFilters}}
            <section class="content">
                <div class="section__header">
                    <span class="title">Candidate Keywords</span>
                    <span class="help">(type to add new or use X to remove)</span>
                </div>

                <div class="section__body">
                    <div class="keywords">
                        <div class="icon_tag__purple">
                            <span class="label">Java</span>
                            <span class="icon">&#10005;</span>
                        </div>

                        <div class="icon_tag__purple">
                            <span class="label">Python</span>
                            <span class="icon">&#10005;</span>
                        </div>

                        <div class="icon_tag__purple">
                            <span class="label">Machine Learning</span>
                            <span class="icon">&#10005;</span>
                        </div>

                        <div class="icon_tag__gray" onclick="showNewTagInput(event)">
                            <span class="label">Add New...</span>
                            <span class="icon">&check;</span>
                        </div>
                    </div>
                </div>
            </section>
        
            <section class="content">
                <div class="section__header">
                    <span class="title">Candidate Filters</span>
                    <span class="help">(add desired filters)</span>
                </div>

                <div class="section__body">
                    <div class="combo">
                        <div class="combo__label">
                            Source:
                        </div>

                        <div class="combo__trigger">
                            Make selection
                        </div>

                        <div class="combo__list">
                            <div class="list__header">Make selection</div>
                            <div class="list__body">
                                <div class="list__option">Option #1</div>
                                <div class="list__option">Option #2</div>
                                <div class="list__option">Option #3</div>
                                <div class="list__option">Option #4</div>
                                <div class="list__option">Option #5</div>
                            </div>
                        </div>
                    </div>

                    <div class="combo">
                        <div class="combo__label">
                            Location(s):
                        </div>

                        <div class="combo__trigger">
                            Make selection
                        </div>

                        <div class="combo__list">
                            <div class="list__header">Make selection</div>
                            <div class="list__body">
                                <div class="list__option">Option #1</div>
                                <div class="list__option">Option #2</div>
                                <div class="list__option">Option #3</div>
                                <div class="list__option">Option #4</div>
                                <div class="list__option">Option #5</div>
                            </div>
                        </div>
                    </div>

                    <div class="combo">
                        <div class="combo__label">
                            Years of Experience:
                        </div>

                        <div class="combo__trigger">
                            Make selection
                        </div>

                        <div class="combo__list">
                            <div class="list__header">Make selection</div>
                            <div class="list__body">
                                <div class="list__option">Option #1</div>
                                <div class="list__option">Option #2</div>
                                <div class="list__option">Option #3</div>
                                <div class="list__option">Option #4</div>
                                <div class="list__option">Option #5</div>
                            </div>
                        </div>
                    </div>

                    <div class="combo">
                        <div class="combo__label">
                            Education Level:
                        </div>

                        <div class="combo__trigger">
                            Make selection
                        </div>

                        <div class="combo__list">
                            <div class="list__header">Make selection</div>
                            <div class="list__body">
                                <div class="list__option">Option #1</div>
                                <div class="list__option">Option #2</div>
                                <div class="list__option">Option #3</div>
                                <div class="list__option">Option #4</div>
                                <div class="list__option">Option #5</div>
                            </div>
                        </div>
                    </div>

                    <div class="combo">
                        <div class="combo__label">
                            Number of candidates:
                        </div>

                        <div class="combo__trigger">
                            Make selection
                        </div>

                        <div class="combo__list">
                            <div class="list__header">Make selection</div>
                            <div class="list__body">
                                <div class="list__option">Option #1</div>
                                <div class="list__option">Option #2</div>
                                <div class="list__option">Option #3</div>
                                <div class="list__option">Option #4</div>
                                <div class="list__option">Option #5</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div>
                <button class="button">Rank candidates</button>
            </div>
        {{/if}}
    </div>

    <script>
        function extractKeywords(event) {
            window.location.href = '/#/candidate-filters'
        }

        function uploadJobDescription(event) {
            window.location.href = '/#/job-description/upload'
        }

        document.querySelectorAll('.combo__trigger').forEach(element => {
            const listElement = element.nextElementSibling
            
            element.addEventListener('click', (event) => {
                listElement.classList.add("visible")
            })
        })

        document.querySelectorAll('.list__header').forEach(element => {
            const listElement = element.closest('.combo__list')
            
            element.addEventListener('click', (event) => {
                listElement.classList.remove("visible")
            })
        })

        document.querySelectorAll('.list__option').forEach(element => {
            const selectedOption = element.innerText
            const listElement = element.closest('.combo__list')
            const triggerElement = listElement.previousElementSibling
            
            element.addEventListener('click', (event) => {
                triggerElement.innerText = selectedOption
                listElement.classList.remove("visible")
            })
        })
    </script>
</template>

<!-- FAQ -->
<template id="faq-tmpl">
    <div id="faq-page" class="page">
        <section class="heading">
            <div>
                <div class="page__title">FAQ</div>

                <div class="page__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio fuga veniam voluptatibus, minus quaerat ipsam non numquam dignissimos quo. Ratione?
                </div>
            </div>
        </section>

        <div class="content">
            <div class="faq__list">
                <div class="faq">
                    <div class="question">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quos officia atque excepturi impedit, velit incidunt. Animi ipsa impedit id ?</div>
                    <div class="answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore ullam repellendus laudantium distinctio harum in libero pariatur iste a repellat numquam suscipit voluptatum corporis odit incidunt, sed voluptate assumenda officiis quidem excepturi molestiae voluptas possimus! Recusandae, impedit numquam ut magni iure placeat minima omnis corporis voluptatibus accusamus fuga harum quis inventore error aliquid modi nobis rerum quidem dolores maxime reiciendis alias mollitia. Minus excepturi sint fugit dolorem, harum explicabo odit nobis doloremque nostrum culpa consectetur et repellat, error ipsam nihil! Nihil possimus vero assumenda quae numquam eius, iure deleniti placeat voluptas rerum perspiciatis quibusdam rem officiis perferendis, ducimus, id ipsa.</div>
                </div>

                <div class="faq">
                    <div class="question">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quos officia atque excepturi impedit, velit incidunt. Animi ipsa impedit id ?</div>
                    <div class="answer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque quia temporibus doloribus voluptatibus fugit delectus facere. Provident qui non totam amet, expedita aspernatur quia reprehenderit iure sit. Ipsam, praesentium facilis excepturi tenetur non quidem, sequi iste odio nesciunt molestiae, esse quasi pariatur quibusdam beatae expedita. Omnis facere voluptatibus consequuntur sit.</div>
                </div>

                <div class="faq">
                    <div class="question">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quos officia atque excepturi impedit, velit incidunt. Animi ipsa impedit id ?</div>
                    <div class="answer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque quia temporibus doloribus voluptatibus fugit delectus facere. Provident qui non totam amet, expedita aspernatur quia reprehenderit iure sit. Ipsam, praesentium facilis excepturi tenetur non quidem, sequi iste odio nesciunt molestiae, esse quasi pariatur quibusdam beatae expedita. Omnis facere voluptatibus consequuntur sit.</div>
                </div>

                <div class="faq">
                    <div class="question">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quos officia atque excepturi impedit, velit incidunt. Animi ipsa impedit id ?</div>
                    <div class="answer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque quia temporibus doloribus voluptatibus fugit delectus facere. Provident qui non totam amet, expedita aspernatur quia reprehenderit iure sit. Ipsam, praesentium facilis excepturi tenetur non quidem, sequi iste odio nesciunt molestiae, esse quasi pariatur quibusdam beatae expedita. Omnis facere voluptatibus consequuntur sit.</div>
                </div>

                <div class="faq">
                    <div class="question">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quos officia atque excepturi impedit, velit incidunt. Animi ipsa impedit id ?</div>
                    <div class="answer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque quia temporibus doloribus voluptatibus fugit delectus facere. Provident qui non totam amet, expedita aspernatur quia reprehenderit iure sit. Ipsam, praesentium facilis excepturi tenetur non quidem, sequi iste odio nesciunt molestiae, esse quasi pariatur quibusdam beatae expedita. Omnis facere voluptatibus consequuntur sit.</div>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="spinner-tmpl">
    <div id="spinner-page" class="page">
        <div class="spinner">
            Please wait...
        </div>
    </div>
</template>
