@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');
@import './shared/_colors';
@import './shared/dimesions';
@import './shared/fonts';
@import './shared/forms';
@import './shared/grid';
@import './shared/layout';
@import './shared/mixins';
@import './shared/utilities';
@import './shared/typos';

@import './components/breadcrumbs';
@import './components/button';
@import './components/combo';
@import './components/drag_and_drop';
@import './components/dropdown';
@import './components/faq';
@import './components/file_display';
@import './components/nav-bar.component';
@import './components/popup';
@import './components/table';
@import './components/spinner';
@import './components/tag';

@import './pages/job-description-upload';
@import './pages/login';
@import './pages/project-details';
@import './pages/project-form';
@import './pages/project-list';
@import './pages/query-filters';
@import './pages/spinner';

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}